body h1 {
    text-align: center;
}

.size-limits {
    max-width: 1400px;
    margin: 40px auto 20px;
}

.size-limits .floating-image {
    max-width: 400px;
}

.size-limits .floating-image.right {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.text-box {
    color: black;
}

.text-box h2 {
    font-size: 42px;
}

.text-box p {
    font-size: 16px;
}